@import url('https://fonts.cdnfonts.com/css/averta-standard');

* {
    font-family: 'Averta Standard', sans-serif; 
}

html {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}

body{                                         
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden; /* This remove the overflow on the vertical or x axis */
   
}

img {
    vertical-align: middle;
    border-style: none;
}
/* The Hero backgroun Image */
section.hero-container {
    background-image: url(https://zuri.team/img/hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

section .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 69px;
    padding-top: 69px;
  
}

.center-image .logo-img {
    padding-top: 50px;
}

div.hero {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    text-align: center;

}

.hero h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 36px;
    color:#514949 ;
}

.hero p {
   line-height: 24px;
   color: #514949;
   opacity: 0.9;

}

a {
    text-decoration: none;
    color: #E7332B;

}

 .btn-hero {
    display: flex;
    flex-direction: column;
    margin-top: 92px;
    padding-bottom: 50px;
 }

.my-btn{
    padding: 11px 28px;
    border: 1px solid #E7332B;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
    cursor: pointer;
}

.btn-red {
    margin-bottom: 24px !important;
    background-color: #E7332B;
    color: #fff;
}

.btn-red-outliner {
    background-color: #fff;
    color: #E7332B;
   
}

.btn-red:hover {
    background-color: #fff;
    color: #E7332B;
    transition: 0.3;
  
}

.btn-red-outliner:hover {
    background-color: #E7332B;
    color: #fff;
    transition: 0.3;
}

section.program-section {
  background-color: #fff;
  overflow: hidden; /* this remove the overflow of the program section*/

}

.program-section {
    background-color: #fff;
    padding:  0 15px !important;
   
}



 .program-section .container {
    margin: 0 auto;
    text-align: center !important;
    max-width: 1440px !important;
  
    
 }
 

 .program-content .heading {
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    font-weight: 500;
    margin-top: 65px;
}

.program-content p.motto {
    font-size: 24px;
    line-height: 40px;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}


.program-container {
    padding: 0 20px;

}

.program-card {
    padding: 61px 47px 82px 36px;
    background-color:#FFFAFA ;
    text-align: left !important;
    margin-bottom: 32px;
    
  
  }
.card-image {
    display: none;
}  


.card-content img {
    margin-bottom: 48px;
}
.card-content p {
    color: #514949;
    margin-bottom: 1rem;
}
  
.program-card a {
    font-size: 16px;
    margin-bottom: 8px;
 
}


/* Footer Style */
.footer-container {
    margin-top: 215px;
    text-align: center !important;
    
}


.footer-label {
    margin-bottom: 56px;
}


.footer-label  img {
    width: 150px;
    margin-bottom: 15px;
}


.footer-container .link h3 {
    font-size: 24px;
    color: #514949;
    margin: 16px;
}
.footer-container .link {
    display: flex;
    flex-direction: column;
}

.link a {
    margin: 0 !important;
    margin-bottom: 16px !important;
  
}


.contact h3 {
 color: #514949;
 font-size: 24px;
 margin-top: 20px;
 margin-bottom: 8px;
}

.contact p {
    margin-top: 0;
    font-size: 14px;
    color: #514949;
}

.contact a {
    font-size: 14px;
}

.social-link h3 {
    font-size: 24px;
    color: #514949;
    margin-top: 20px;
    margin-bottom: 8px;
}

.social-link img {
    width: 18px;
    margin-top: 0;
    margin-right: 5px;
}

.footer-container hr {
    margin: 0 16px;
    color: #514949;
    border-width: 2px;
    opacity: 0.5;
}

.copyright {
   font-weight: bold;
   margin-top: 32px;
   padding-bottom: 60px;
   color: #514949;
}




/* Tablet Mode  */

@media  only screen and (min-width: 768px){


    .btn-hero {
    
        flex-direction: row;
        justify-content: center;
        gap: 24px;   
    }
   div.hero {
    width: 700px;
   }

}



/* Laptop and Desktop */
@media  only screen and (min-width: 992px) {
    section.hero-container {
        height: 800px;
    }

    .program-container {

        max-width: 1240px !important;
        margin: 0 auto;
      
        
    }

.flex {
    display: flex;
    gap: 24px;
    margin: 0 -15px;
}    


img.card-bg-svg-1 {
    width: 90%;
    position: absolute;
    left: -120px;
    top: -75px;
    z-index: -1;
}

img.card-bg-svg-2 {
    width: 90%;
    position: absolute;
    right: -120px;
    top: -75px;
    z-index: -1;
}
.program-card-container{
    position: relative;
    z-index: 1;
 
}




}




@media (min-width: 1200px) {
    .card-image {
        display: block !important;
    }
}































/* 
{


    

.center-image .logo-img {
    padding-top: 0px;
}

.row {
    display: flex;
   
 
}

.col {
   padding: 0 15px;
   width: 33.3333%;
}

section.program {
    background-color: #fff;
    overflow: hidden;
  
  }

  .my-container {
    margin: 0 auto;
    max-width: 1240px !important;
}

.program-card-zed {
    position: relative;
    z-index: 1;
}



}

